.item{
    width: 280px;
    transition: 0.6s ease;
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 10px ;
 

}
.linkeItem{
    text-decoration: none;
    color: black;
}
.item p{
    padding: 5px 5px;

}
.item-prices{
    display: flex;
    gap: 20px;
     margin: 6px 5px;
}
.item-prices-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;

}
.item-prices-old{
    color: #9ea2a9;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    
}
.imggg{
    width: 100%;
    border-radius: 15px;
  
    
    
}

@media(max-width:1225px){
   
    .item-prices{
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
    }

}
@media(max-width:880px){
   
    .item-prices{
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
    .item-prices-new{
       
        font-size: 18px;
        
    
    }
    .item-prices-old{
       
        font-size: 18px;
        
    
    }
    .item{
        max-width: 250px;
    }
}

@media(max-width:1024px){
  
    .item-prices{
        display: flex;
        gap: 10px;
    }
    .item-prices-new{
       
        font-size: 15px;
        
    
    }
    .item-prices-old{
       
        font-size: 15px;
        
    
    }
}

